<h1>Edit <%=@album.title%>'s Details</h1>

<a href="<%= band_url(@album.band_id) %>">Back to Album View</a>
<br>
<br>

<form action="<%= album_url(@album) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="hidden" name="_method" value="PATCH">

  <label for="album_band_id">Album Artist:</label>
  <select name="album[band_id]" id="album_band_id">
    <option></option>
    <% Band.all.each do |band| %>
      <option
        <%= band.name == name ? "selected" : "" %>
        value="<%= band.id %>">
        <%= band.name %>
      </option>
    </select>
  <br>

  <label for="album_title">Album Title:</label>
  <input type="text" name="album[title]" id="album_title" value="<%=@album.title%>">
  <br>

  <label for="album_format">Album Type:</label>
  <input type="radio" name="album[format]" id="album_format" value="LIVE" <% @album.format == "LIVE" ? "checked" : "" %>>
  <input type="radio" name="album[format]" id="album_format" value="STUDIO" <% @album.format == "STUDIO" ? "checked" : "" %>>
  <br>

  <button>OK</button>

</form>
